<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EParking</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="">App EasyParking</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
			</ul>
		</div>
	</nav>

	<div class="container text-center">
		<div>
			<h1>Bienvenido a la Aplicación EasyParking</h1>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/modalidad/verModalidad}">Modalidades de
				Servicio</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/tipoVehiculos/verTipoVehic}">Tipos de
				Vehiculo</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/plazas/verPlazas}">Plazas de Parqueo</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/tarifas/listaTarifas}">Tarifas de
				Parqueo</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/vehiculos/verVehiculos}">Vehiculos</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/registro/verRegistro}">Registro
				Vehiculos</a>
		</div>
	</div>
</body>
</html>