<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Plazas de Parqueo</title>
</head>
<body>
    <h1>Lista Plazas de Parqueo</h1>
    <table border="solid">
        <thead>
            <tr>
                <th>IdPlaza</th>
                <th>Estado</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
			<tr th:each="plazas : ${listaPlazas}" > <!-- la nombrada en el controller -->
				<td th:text="${plazas.idPlaza}"></td>
				<td th:text="${plazas.estadoPlaza}"></td>
				<td th:text="${plazas.nombrePlaza}"></td>
                <td>
                	<a th:href="@{'/plazas/editar'+'/'+${plazas.idPlaza}}">  Actualizar </a>
                	&nbsp;&nbsp;
                	<a th:href="@{'/plazas/eliminar'+'/'+${plazas.idPlaza}}">  Eliminar </a>
                </td>
			</tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/plazas/nuevo}">Insertar Plazas</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/">Volver al Menu</a>
</body>
</html>
