<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Tarifas</title>
</head>
<body>
    <h1>Lista de Modalidades</h1>
    <table border="solid">
        <thead>
            <tr>
                <th>IdModalidad</th>
                <th>Estado</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
			<tr th:each="modalidad : ${listaModalidad}" > <!-- la nombrada en el controller -->
				<td th:text="${modalidad.idModalidad}"></td>
				<td th:text="${modalidad.estadoModalidad}"></td>
				<td th:text="${modalidad.nombreModalidad}"></td>
                <td>
             		<a th:href="@{/modalidad/editar/{id}(id=${modalidad.idModalidad})}">Actualizar </a>                
                	<!--  <a th:href="@{'/modalidad/editar'+'/'+${modalidad.idModalidad}}">  Actualizar </a>-->
                	&nbsp;&nbsp;
                	<a th:href="@{'/modalidad/eliminar'+'/'+${modalidad.idModalidad}}">  Eliminar </a>
                </td>
			</tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/modalidad/nuevo}">Insertar Modalidades</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/">Volver al Menu</a>
</body>
</html>
