<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Tipos de Vehiculo</title>
</head>
<body>
    <h1>Lista Tipos de Vehiculo</h1>
    <table border="solid">
        <thead>
            <tr>
                <th>IdTipo</th>
                <th>Estado</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
			<tr th:each="tipoVehiculos : ${listaTipoVehic}" > <!-- la nombrada en el controller -->
				<td th:text="${tipoVehiculos.idTipoVehiculo}"></td>
				<td th:text="${tipoVehiculos.estadoTipoVehiculo}"></td>
				<td th:text="${tipoVehiculos.nombreTipoVehiculo}"></td>
                <td>
                	<a th:href="@{'/tipoVehiculos/editar'+'/'+${tipoVehiculos.idTipoVehiculo}}">Actualizar</a>
                	&nbsp;&nbsp;
                	<a th:href="@{'/tipoVehiculos/eliminar'+'/'+${tipoVehiculos.idTipoVehiculo}}">Eliminar</a>
                </td>
			</tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/tipoVehiculos/nuevo}">Insertar Tipo Vehiculo</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/">Volver al Menu</a>
</body>
</html>
