<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Tarifas</title>
</head>
<body>
	<h1>Crear Tarifa</h1>
    <form th:action="@{/tarifas/listaTarifas}" method="post" >
        <div th:object="${tarifas}">
        	<label>Estado Tarifa: </label>
        	<input type="text" name="estado" th:field="*{estadoTarifa}">
        	<br><br>
        	<label>Valor Tarifa: </label>
        	<input type="number" name="valor" th:field="*{valorTarifa}">
        	<br><br>
        	<label>Modalidad: </label>
				<select th:field="*{modalidadTarifa}">
					<th:block th:each="Modalidad:${listaModalidad}">
						<option th:text="${Modalidad.nombreModalidad}" th:value="${Modalidad.idModalidad}">
					</th:block>
				</select>
        	<br><br>
        	<label>Tipo Vehiculo: </label>
				<select th:field="*{TipoVehicTarifa}">
					<th:block th:each="TipoVehiculos:${listaTipoVehiculos}">
						<option th:text="${TipoVehiculos.nombreTipoVehiculo}" th:value="${TipoVehiculos.idTipoVehiculo}">
					</th:block>
				</select>
        	<br><br>
        </div>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
