<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Editar Tarifas</title>
</head>
<body>
	<h1>Editar Tarifas</h1>
	<form th:action="@{/tarifas/editarTarifas/{id}(id=${tarifas.idTarifa})}" method="post">
		<div th:object="${tarifas}">
			<label>Estado:</label>
			<input type="text" name="estado" th:field="*{estadoTarifa}"> <br>
			<br>
			<label>Valor:</label>
			<input type="number" name="valor" th:value="*{valorTarifa}"> <br>
			<br>
			<label>Modalidad:</label>
			<!--         	<input type="number" name="modalidad" th:value="*{getModalidadTarifa().getIdModalidad()}"> -->
			<select th:field="*{modalidadTarifa}">
				<th:block th:each="Modalidad:${listaModalidad}">
					<option th:text="${Modalidad.nombreModalidad}"
						th:value="${Modalidad.idModalidad}">
					</option>
				</th:block>
			</select> <br>
			<br>
			<label>Tipo Vehiculo:</label>
			<input type="number" name="tipo" th:value="*{getTipoVehicTarifa().getIdTipoVehiculo()}">
			<br>
			<br>
		</div>
		<input type="submit" value="Enviar">
	</form>
</body>
</html>