<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Tarifas</title>
</head>
<body>
    <h1>Lista de Tarifas</h1>
    <table border="solid">
        <thead>
            <tr>
                <th>IdTarifas</th>
                <th>Estado</th>
                <th>Valor</th>
                <th>Modalidad</th>
                <th>Tipo Vehiculo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tarifa : ${tarifas}">
            	<td th:text="${tarifa.idTarifa}"></td>
                <td th:text="${tarifa.estadoTarifa}"></td>
                <td th:text="${tarifa.valorTarifa}"></td>
             	<td th:text="${tarifa.modalidadTarifa.getNombreModalidad()}"></td>
                <td th:text="${tarifa.tipoVehicTarifa.getNombreTipoVehiculo()}"></td>
                <td>
                 	<a th:href="@{/tarifas/editar/{id}(id=${tarifa.idTarifa})}">Actualizar </a>
               		<a th:href="@{/tarifas/eliminarTarifas/{id}(id=${tarifa.idTarifa})}"> Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <a th:href="@{/tarifas/crearTarifas}">Insertar Tarifas</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/">Volver al Menu</a>
</body>
</html>
