<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Vehiculos</title>
</head>
<body>
	<h1>Crear Vehiculos</h1>
    <form th:action="@{/vehiculos/verVehiculos}" method="post" >
        <div th:object="${vehiculos}">
        	<label>Placa : </label>
        	<input type="text" name="placa" th:field="*{placa}">
        	<br><br>
        	<label>Color : </label>
        	<input type="text" name="color" th:field="*{color}">
        	<label>Marca : </label>
        	<input type="text" name="marca" th:field="*{marca}">
        	<br><br>
        	<label>Propietario : </label>
        	<input type="text" name="propietario" th:field="*{propietario}">
        	<label>Telefono : </label>
        	<input type="text" name="telefono" th:field="*{telefono}">
        	<br><br>
        	 <label>Modalidad : </label>
			<select th:field="*{modalidadVehiculo}">
					<th:block th:each="Modalidad:${listaModalidad}">
						<option th:text="${Modalidad.nombreModalidad}" th:value="${Modalidad.idModalidad}">
					</th:block>
				</select>
        	<br><br>
        	<label>Tipo Vehiculo : </label>
				<select th:field="*{tipovehiculo}">
					<th:block th:each="TipoVehiculos:${listaTipoVehiculos}">
						<option th:text="${TipoVehiculos.nombreTipoVehiculo}" th:value="${TipoVehiculos.idTipoVehiculo}">
					</th:block>
				</select>
        	<br><br>
        </div>
        <input type="submit" value="Enviar">
    </form>
</body>


</html>
