<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Vehiculos</title>
</head>
<body>
    <h1>Lista de Vehiculos</h1>
    <table border="solid">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Color</th>
                <th>Marca</th>
                <th>Propietario</th>
                <th>Telefono</th>
                <th>Modalidad</th>
                <th>TipoVehiculo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
			<tr th:each="vehiculos : ${listaVehiculos}" > <!-- la nombrada en el controller -->
				<td th:text="${vehiculos.placa}"></td>
				<td th:text="${vehiculos.color}"></td>
				<td th:text="${vehiculos.marca}"></td>
				<td th:text="${vehiculos.propietario}"></td>
				<td th:text="${vehiculos.telefono}"></td>
             	<td th:text="${vehiculos.modalidadVehiculo.getNombreModalidad()}"></td>
             	<td th:text="${vehiculos.tipovehiculo.getNombreTipoVehiculo()}"></td>
                <td>
             		<a th:href="@{/vehiculos/editar/{id}(id=${vehiculos.placa})}">Actualizar</a>                
                	&nbsp;&nbsp;
                	<a th:href="@{'/vehiculos/eliminar'+'/'+${vehiculos.placa}}">Eliminar</a>
                </td>
			</tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/vehiculos/nuevo}">Insertar Vehiculos</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/">Volver al Menu</a>
</body>
</html>
